.input {
  width: 300px;
  height: 500px;
  border: 1px solid black;
}

.filesWrapper {
  display: flex;
  flex-wrap: wrap;
}

.file {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 20px;
  margin-right: 10px;

  & > span {
    margin-left: 15px;
    align-self: center;
    text-align: center;
    max-width: 100px;
    word-wrap: break-word;
  }
}

.deleteFile {
  position: absolute;
  top: 5px;
  right: 5px;

  &:hover {
    cursor: pointer;
  }
}
