@import "../../../../sassStyles/variables";
@import "../../../atoms/Text/Text.module.scss";
.wrapper {
  width: 750px;
  background-color: var(--beige);
  border: 1px solid var(--gray);
  border-radius: $borderRadiusSmall;
}

.content {
  padding: $defaultModalPadding;
  min-height: 350px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.announcementsWrapper {
  margin-top: 15px;
  height: 70%;
  border-radius: $borderRadiusSmall;
  padding: 10px;
}

.announcement {
  position: relative;
  margin-bottom: 30px;

  &::before {
    content: "■";
    position: absolute;
    left: -1em;
    top: 2px;
    font-size: 1.1em;
    color: var(--gray);
  }
}

.attendance {
  margin-top: 15px;
  display: flex;
  align-items: center;
  img {
    margin-left: 10px;
  }
}

.dropdown {
  @extend .s16;
}
