@import "../../../sassStyles/variables";

.button {
  padding: 8px 15px;
  border: 1px solid var(--gray);
  border-radius: $borderRadiusBig;
  background-color: var(--beige);
  transition: all 0.4s;

  &:hover {
    background-color: var(--gray);
    span {
      transition: all 0.4s;
      color: var(--beige);
    }
  }
}
