@import "../../../../sassStyles/variables";
@import "../../../../sassStyles/mixins";
@import "../../../../sassStyles/helpers";
@import "../../../atoms/Text/Text.module.scss";

.wrapper {
  width: 950px;
  background-color: $beige;
  border: 1px solid $gray;
  border-radius: $borderRadiusSmall;
}

.content {
  display: flex;
  padding: $defaultModalPadding;
  min-height: 350px;
  @include default {
    flex-direction: column;
  }
}

.todoListHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
  border: 1px solid $gray;
  border-radius: 2px;

  select {
    height: 100%;
    @extend .s12;
  }

  &::after,
  &::before {
    display: block;
    content: "";
    position: absolute;

    width: 10px;
    height: 2px;
    border-radius: 2px;

    background-color: $gray;
  }

  &::after {
    top: 45%;
    right: 12px;
    transform: rotate(45deg);
  }

  &::before {
    top: 45%;
    right: 6px;
    transform: rotate(-40deg);
  }
}

.contentLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;

  @include default {
    margin-right: 0;
  }
}

.todos {
  @extend .custom-scrollbar;

  max-height: 165px;
  li {
    margin-bottom: 5px;
  }
}

.addTodo {
  padding: 5px;
  margin-top: 10px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray;

  img {
    cursor: pointer;
  }
}

.newTodoTextarea {
  @extend .s14;
  width: 100%;
}

.menu {
  margin-top: 30px;

  @include default {
    margin: 40px 0;
  }
}

.sendFile {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include default {
    justify-content: flex-start;

    & > span {
      margin-left: 20px;
    }
  }
}

.contentRight {
  flex: 1;
  display: flex;
  flex-direction: column;

  @include default {
    margin-top: 15px;
  }
}
