@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";

.gray {
  color: var(--gray);
}

.beige {
  color: var(--beige);
}

.rouge {
  color: var(--rouge);
}

.error {
  color: $errorRed;
}

.s12 {
  font-size: 1.2rem;
}

.s14 {
  font-size: 1.4rem;
}

.s16 {
  font-size: 1.6rem;

  @include default {
    font-size: 1.3rem;
  }

  @include tiny {
    font-size: 1rem;
  }
}

.s18 {
  font-size: 1.8rem;
}

.s20 {
  font-size: 2rem;
}

.s24 {
  font-size: 2.4rem;

  @include default {
    font-size: 2rem;
  }
}

.s28 {
  font-size: 2.8rem;

  @include large {
    font-size: 2.2rem;
  }

  @include default {
    font-size: 2.2rem;
  }

  @include tiny {
    font-size: 2rem;
  }
}

.s34 {
  font-size: 3.4rem;

  @include large {
    font-size: 3rem;
  }

  @include default {
    font-size: 2.6rem;
  }
}

.s40 {
  font-size: 4rem;
  @include large {
    font-size: 3.2rem;
  }

  @include default {
    font-size: 3rem;
  }

  @include medium {
    font-size: 2.8rem;
  }
}

.s44 {
  font-size: 4rem;
  @include large {
    font-size: 3.4rem;
  }

  @include default {
    font-size: 3.2rem;
  }

  @include medium {
    font-size: 3rem;
  }

  @include small {
    font-size: 2.4rem;
  }
}

.s96 {
  font-size: 9.6rem;

  @include large {
    font-size: 8rem;
  }

  @include medium {
    font-size: 7rem;
  }

  @include small {
    font-size: 6rem;
  }

  @include tiny {
    font-size: 4rem;
  }
}

.lh24 {
  line-height: 24px;
}

.lh40 {
  line-height: 40px;
}

.uppercase {
  text-transform: uppercase;
}

.fLight {
  font-weight: 300;
}

.fRegular {
  font-weight: 400;
}

.fMedium {
  font-weight: 500;
}

.fSemiBold {
  font-weight: 600;
}

.fBold {
  font-weight: 700;
}

.hover {
  &:hover {
    cursor: pointer;
  }
}
