@import "./variables";
@import "./mixins";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $beige;
  background-image: url("../assets/images/memphis-bg.png");
}

#root {
  height: 100%;
  width: 100%;
}

input {
  border: none;
  outline: none;
  background: none;
}

button {
  border: none;
  background: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    cursor: pointer;
  }
}

textarea {
  background-color: transparent;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
