@import "./variables";
@import "./mixins";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $beige;
  background-image: url("../assets/images/memphis-bg.png");
}

#root {
  height: 100%;
  width: 100%;
}

.modal-bg {
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(62, 60, 61, 0.6);
}

input {
  border: none;
  outline: none;
  background: none;
}

button {
  border: none;
  background: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    cursor: pointer;
  }
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

option {
  &:hover {
    cursor: pointer;
  }
}

textarea {
  background-color: transparent;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
