$gray: #3e3c3d;
$beige: #fef8e5;
$rouge: #a65358;
$lightRouge: #e6a9a2;
$lightBlue: #cedde5;
$errorRed: #cc5858;
$shadow: rgba(62, 60, 61, 0.7);

#root {
  $gray: #3e3c3d;
  $beige: #fef8e5;
  $rouge: #a65358;
  $khaki: #e4d8b1;
  $lightRouge: #e6a9a2;
  $lightBlue: #cedde5;
  $errorRed: #cc5858;
  $shadow: rgba(62, 60, 61, 0.7);
  $bgImageOpacity: 1;
  $defaultShadowBox: 0 0 8px 2px rgba(62, 60, 61, 0.7);
}

$borderRadiusHuge: 26px;
$borderRadiusBig: 13px;
$borderRadiusSmall: 6px;

$headerHeight: 110px;

$defaultLayoutTopBottomPadding: 40px;

$defaultModalPadding: 20px 15px;

$defaultShadowBox: 0 0 8px 2px rgba(62, 60, 61, 0.7);

// rwd breakpoints
$tiny: 480px;
$small: 800px;
$medium: 1000px;
$default: 1200px;
$large: 1440px;
