@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";

$paddingTB: 5px;
$paddingLR: 5px;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $paddingTB $paddingLR;
  flex-direction: column;
  width: 100%;
  min-height: 170px;
  background-color: $beige;
  border-radius: $borderRadiusSmall;
  border: rgba(62, 60, 61, 0.7) solid 2px;
  box-shadow: $defaultShadowBox;
}

.top {
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.clock {
  width: 50px;
  height: 50px;
}

.dayInfo {
  flex: 3;
  display: flex;
  align-items: center;
  span {
    text-align: center;
  }
  margin-bottom: 10px;
}

.nameDay {
  flex: 1;
  align-self: flex-start;
}
