@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";

.childTileWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 530px;
  width: 335px;
  margin-right: 20px;
  background-color: var(--lightRouge);
  border-radius: $borderRadiusSmall;
  box-shadow: var(--defaultShadowBox);
  overflow: hidden;

  @include small {
    margin-right: 0;
    height: auto;
    width: 300px;
  }
}

.childImage {
  max-width: 200px;

  @include small {
    display: none;
  }
}

.genderIcon {
  display: none;

  &[data-linear="true"] {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.childLink {
  position: absolute;
  width: 100%;
  height: 100%;
}

.childTileInfo {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  span {
    margin-bottom: 10px;
  }
}

.childTileName {
  display: flex;
  flex-direction: column;
}

.male {
  background-color: var(--lightBlue);
  img {
    align-self: flex-end;
  }
}
