@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";
@import "../../../sassStyles/helpers";
@import "../../atoms/Text/Text.module.scss";

.todos {
  @extend .custom-scrollbar;

  max-height: 165px;
  li {
    margin-bottom: 5px;
  }
}

.addTodo {
  padding: 5px;
  margin-top: 10px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray;

  img {
    cursor: pointer;
  }
}

.newTodoTextarea {
  @extend .s14;
  width: 100%;
}
