@import "../../../sassStyles/global";
@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";
@import "../../atoms/Text/Text.module.scss";

.childrenWrappper {
  display: flex;
  justify-content: space-between;

  @include default {
    margin-top: 30px;
  }

  @include small {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.dropdown {
  @extend .s24;
  @extend .fMedium;
  color: var(--gray);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include small {
    margin-top: 25px;
  }
}

.detail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  span {
    margin-right: 10px;
  }

  @extend .underline;

  @include small {
    padding: 10px 5px;
    img {
      display: none;
    }
  }
}
