@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.newsTemplateWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.newsTemplateHeader {
  position: relative;
  display: flex;
  justify-content: space-between;

  span {
    align-self: center;
    margin-right: 30px;
  }
}

.newsTemplateMainImage {
  min-width: 600px;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  @include default {
    min-width: 50%;
    min-height: 400px;
  }
}

.newsTemplateDate {
  position: absolute;
  bottom: 0;
  left: 0;
}

.newsTemplateDescription {
  margin-top: 100px;
}

.gallery {
  margin-top: 100px;
  display: grid;
  background-color: $beige;
  grid-template-columns: repeat(3, minmax(100px, auto));
  grid-row-gap: 40px;
  grid-column-gap: 20px;

  @include default {
    grid-template-columns: repeat(2, minmax(100px, auto));
  }

  @include small {
    grid-template-columns: repeat(1, minmax(100px, auto));
  }

  .singleImg {
    min-height: 300px;
    border-radius: $borderRadiusSmall;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: 0 0 8px 2px rgba(62, 60, 61, 0.7);

    img {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}
